<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="estilizacao.css">
</head>
<body>

    <div class="container">
        <h1>Cadastro de Cliente</h1>
        <h1>Insira os dados do Cliente</h1>
        
        <form action="/submit" method="post" id="/cliente/salvarCliente">
           
                <legend>Informações do Cliente</legend>
                
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required maxlength="200" placeholder="Digite o nome">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required maxlength="100" placeholder="Digite o email">

                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="endereco" maxlength="200" placeholder="Digite o endereço">

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required maxlength="20" placeholder="Digite o username">

                <button type="submit">Cadastrar</button>
      
        </form>
        
    </div>
    
</body>
</html>
