<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haven Geek</title>
    <link rel="stylesheet" th:href="@{/css/estilizacaoPaginaInicial.css}">
    
</head>
<body>
    <div class="container">
        <h1>Haven Geek</h1>
        <p>Bem-vindo ao Haven Geek! Seu portal para os melhores acessórios e jogos.</p>
        <nav>
            <ul>
                <li><a th:href="@{/acessorio/listarAcessorio}">Listar Acessórios</a></li>
                <li><a th:href="@{/ListarJogo}">Listar Jogos</a></li>
                <li><a th:href="@{/ListarCliente}">Cadastro de Cliente</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
